<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level_Statistique</title>
    <link rel="stylesheet" href="/form2.css">
    <link rel="stylesheet" href="/index.css">
    <style>
        .star{
            display: inline;
        }
        .statistic{
            margin: auto;
        }
        .level-stars{
            margin-bottom: 60px;
        }
        p{
            color: white;
        }
        a{
            height: 50px;
        }
        h2{
            text-align: center;
        }
        .rel{
            height: 50px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Test ton niveau en un clic</h1>
    </header>
    <h2>Statistiques</h2>
    <div class="statistic">
        <div class="level-stars">
            <p>Niveau Faible:</p>
                    <div class="star empthy"></div>
                    <div class="star empthy"></div>
                    <div class="star empthy"></div>

        </div>

        <div class="level-stars">
            <p>Niveau moyen:</p>
                    <div class="star filled"></div>
                    <div class="star empthy"></div>
                    <div class="star empthy"></div>
        </div>
        
        <div class="level-stars">
            <p>Niveau normal:</p>
                    <div class="star filled"></div>
                    <div class="star filled"></div>
                    <div class="star empthy"></div>
        </div>
        
        <div class="level-stars">
            <p>Niveau excellent:</p>
                    <div class="star filled"></div>
                    <div class="star filled"></div>
                    <div class="star filled"></div>
        </div>
    </div>
    <a href="/" class="rel">Retour</a>
    <footer>
        <h3>Test de niveau en un clic</h3>
    </footer>

</body>
</html>