* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lobster', cursive;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

header {
    background-color: #3498db; /* Couleur attrayante */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color:#ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Largeur du formulaire */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
     font-family: 'lobster', cursive;
    font-size: 21px;
    line-height: 1.1;
}


button {
    background-color: #3498db; /* Couleur de soumission */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; /* Couleur au survol */
}

footer {
    background-color: #3498db; /* Même couleur que le header */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.liste {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ol {
    margin: 0;
    padding-left: 20px;
}

.compteur{
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
}
